*.pyc
*~
*.csv
.ipynb_checkpoints
Data
caffe-cifar-100-example/cifar*
.*
*.caffemodel
*.solverstate

*.mid
*.pkl
Final\ Project/biaxial-rnn-music-composition/music/*
Final\ Project/biaxial-rnn-music-composition/output/*
*.zip
